<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Page Accueil</title>

    <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
    </style>
</head>

<body>
    <div id="page-index">

      <h2>Liste des personnes</h2>
      <table style="width:100%">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Commentaire</th>
        </tr>

        <% for(var i=0; i < personnes.length; i++) { %>
           <tr>
             <td><%= personnes[i].nom %></td>
             <td><%= personnes[i].prenom %></td>
             <td><%= personnes[i].commentaire %></td>
           </tr>
        <% } %>
      </table>

    </div>
</body>

</html>
